rxc.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="fragment">
        <xs:complexType>
            <xs:attribute name="position" type="xs:string" use="required"/>
            <xs:attribute name="from" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

</xs:schema>